# Object files
*.o

# Libraries
*.la
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so*
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/src/log
/src/noop
/src/null
/src/upcase

# Editor cruft
*~
Makefile~
.*.swp
.#*

# Autotools
*.html
/autom4te.cache
/src/stamp-h1
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
#/build*/
GIT_REVISION
SVN_REVISION
libtool
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
*.log
*.trs

# Perl build
_build
Build
blib
