# WIP
README_NEW.md

# Object files
*.o

# Libraries
*.la
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so*
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/src/log
/src/noop
/src/null
/src/dup
/src/headers
/src/headers.OLD.c
/unit-tests/check_stream_buffer
/unit-tests/check_util

# Editor cruft
*~
Makefile~
.*.swp
.#*
/scratch

# Autotools
Makefile
Makefile.in
/configure
*.html
/autom4te.cache
/src/stamp-h1
/config.status
/config.log
/config.h
/aclocal.m4
/config/
/src/config.h.in
/src/config.h
#/build*/
GIT_REVISION
SVN_REVISION
libtool
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
*.log
*.trs

# Perl build
_build
Build
blib
MYMETA.json
MYMETA.yml
